{% extends 'base.html' %}

{% block title %}
Add post
{% endblock %}

{% block body %}
<div class="container">
    <h1>Add article</h1>
    <form method="post">
        <div class="container">
        <input type="title" name="title" id="title" placeholder="Add name article"><br><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Add anons"></textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Add text article"></textarea><br>
        <input type="submit" class="btn btn-outline-primary btn-sm" value="add">
        </div>
    </form>

</div>
{% endblock %}